.chordCreatorContainer {
}

.stockMap {
  height: 100%;
  width: 100%;
  width: 900px;
  height: 600px;
  background-color: #a6662c;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.string {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}

.fret {
  width: 20%;
  height: 10px;
  background-color: silver;

  display: flex;
  justify-content: center;
  align-items: center;
}

.finger {
  display: inline-block;

  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: blue;
}
