.chordCreatorContainer {
}

.stockMap {
  height: 100%;
  width: 100%;
  width: 900px;
  height: 600px;
  background-color: #a6662c;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.string {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}

.finger {
  width: 20%;
  height: 5px;

  background-color: silver;
}
